html {
    font-size: 16px;
    font-family: Arial;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #BFBFBF;
}

/* Estilos personalizados para el contenedor del calendario */
.calendario-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

/* Estilos para el calendario emergente */
.calendario-popup {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: rgba(51, 28, 84, 96%);
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border: 4px solid white;
  border-radius: 20px;
  width: 270px;
  height: fit-content;
}

/* Estilos para los días del calendario */
.calendario-popup .contenido-calendario {
  width: 100%;
  border-collapse: collapse;
}

.calendario-popup .contenido-calendario .header-calendario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendario-popup .contenido-calendario .header-calendario .changeMonth{
  background-color: transparent;
  border: 0;
  color: white;
  fill: white;
  cursor: pointer;
  font-size: 24px;
}

.changeMonth.prevMonth {
  transform: rotate(90deg);
}

.changeMonth.nextMonth {
  transform: rotate(270deg);
}

.calendario-popup .contenido-calendario .header-calendario .texto-header-calendario {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.calendario-popup .contenido-calendario .body-calendario .weekdays, .calendario-popup .contenido-calendario .days-selector {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  place-items: center;
    
}

.calendario-popup .contenido-calendario .days-selector {
  margin-top: 10px;
  row-gap: 7px;
}

.calendario-popup .contenido-calendario .days-selector span {
  text-align: center;
}

.calendario-popup .contenido-calendario .days-selector span a {
  text-decoration: none;
  font-weight: normal;
  user-select: none;
}

.calendario-popup .contenido-calendario .days-selector .days-num {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
}

.calendario-popup .contenido-calendario .days-selector .days-in-month a {
  color: #fff;

}

.calendario-popup .contenido-calendario .days-selector .days-before-month a, .calendario-popup .contenido-calendario .days-selector .days-after-month a {
  color: rgba(255, 255, 255, 0.25);
  
}

.calendario-popup .contenido-calendario .days-selector .days-num.cant-be-selected a{
  color: rgba(255, 255, 255, 0.25);
}

.calendario-popup .contenido-calendario .body-calendario .weekdays span {
    font-weight: bold;
    text-align: center;
    color: white;
}

/* Estilos para el botón de cerrar el calendario */
.calendario-popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #333;
}

.days-num.selected-date {
  background-color: #ff5800;
  border-radius: 50%;
 
}

.days-num.selected-date a{
  color: white !important;
  font-weight: bold !important; 
}

.calendario-popup .contenido-calendario .body-calendario .footer-body-calendario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
}

.calendario-popup hr.divisor {
  background-color: white;
  height: 1.5px;
  width: 100%;
}

.number-selector-container, .rooms-guests-picker {
  position: relative;
  width: 100%;
}

.custom-select {
  position: relative;
  
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #696969;
  background-color: rgba(105, 105, 105, 0.8);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  font-size: 13px;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  border-radius: 10px;
  cursor: pointer;
}

.input-container label {
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

.input-container input{
  width: -webkit-fill-available;
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  border: 0;
  border-bottom: 2px solid white;
  cursor: pointer;
}

.input-container input::placeholder {
  color: #ffffff;
}

.calendario-container .icon-for-input-calendar {
  position: absolute;
  right: 10px;
  top: 5px;
  fill: rgb(255, 255, 255);
  pointer-events: none;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: rgba(51, 28, 84, 96%);
  backdrop-filter: blur(3px);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 101;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: 3px;
}

.custom-selectTime .select-items{
  height: 290px;
  overflow-y: auto;
}

/* Firefox */
.select-items {
  scrollbar-width: thin;
  scrollbar-color: #BFBFBF transparent;
}

/* Chrome, Edge and Safari */
.select-items::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.select-items::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

.select-items::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

.select-items::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

.select-items::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #BFBFBF;
}

.select-items::-webkit-scrollbar-thumb:hover {
  background-color: #62A34B;
}

.select-items::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.4);
}

.formulario-planes-byhours {
  display: flex;
  background-color: #4f0b7b;
  padding: 30px;
}

.formulario-planes-byhours.horizontal {
  width: 95%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.formulario-planes-byhours.vertical {
  width: 250px;
  flex-direction: column;
  gap: 10px;
}

.formulario-planes-byhours .input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;

}

.formulario-planes-byhours.horizontal .input-container{
  width: 20%;
}

.input-container .selector-container select{
  width: 100%;
}

#selectTime + .select-selected, #rooms-select + .select-selected, #hotel-select + .select-selected, #adults-select + .select-selected, #plan-select + .select-selected  {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  border-bottom: 2px solid white;
  border-radius: 0;
}

#selectTime + .select-selected:after, #rooms-select + .select-selected:after, #hotel-select + .select-selected:after, #adults-select + .select-selected:after, #plan-select + .select-selected:after {
  border-color: #ffffff transparent transparent transparent;
}

#selectTime + .select-selected.select-arrow-active:after, #rooms-select + .select-selected.select-arrow-active:after, #hotel-select + .select-selected.select-arrow-active:after, #adults-select + .select-selected.select-arrow-active:after, #plan-select + .select-selected.select-arrow-active:after {
  border-color: transparent transparent #ffffff transparent;
  top: 7px;
}

.formulario-planes-byhours .boton-custom {
  overflow: hidden;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  -webkit-transition: color .1s 30ms;
  -o-transition: color .1s 30ms;
  transition: color .1s 30ms;
  border: 0;
  color: #fff;
  border-radius: 50px;
  position: relative;
  outline: 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  padding: 10px 50px;
  cursor: pointer;
}

.formulario-planes-byhours.horizontal .boton-custom.boton-reservar {
  width: 200px;
  height: fit-content;
}

.formulario-planes-byhours.vertical .boton-custom {
  width: 100%;
}

.formulario-planes-byhours .boton-custom:hover {
  color: #ff5800;
}

.formulario-planes-byhours .boton-custom .btn-cont-texto{
  position: relative;
  display: inline-block;
  z-index: 20;
}

.formulario-planes-byhours .boton-custom:hover .btn-cont-texto {
  -webkit-animation: animacioncitaBoton .65s cubic-bezier(.215,.61,.355,1) 30ms forwards;
  animation: animacioncitaBoton .65s cubic-bezier(.215,.61,.355,1) 30ms forwards;
}

.formulario-planes-byhours .boton-custom .btn-cont-fondo {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.formulario-planes-byhours .boton-custom .btn-cont-fondo > span {
  
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .3s cubic-bezier(.215,.61,.355,1);
  transition: -webkit-transform .3s cubic-bezier(.215,.61,.355,1);
  -o-transition: transform .3s cubic-bezier(.215,.61,.355,1);
  transition: transform .3s cubic-bezier(.215,.61,.355,1);
  transition: transform .3s cubic-bezier(.215,.61,.355,1),-webkit-transform .3s cubic-bezier(.215,.61,.355,1);
}

.formulario-planes-byhours .boton-custom .btn-cont-fondo .fondo-idle {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  background-color: #ff5800;
}

.formulario-planes-byhours .boton-custom:hover .fondo-idle {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.formulario-planes-byhours .boton-custom .btn-cont-fondo .fondo-hover {
  background-color: #ffffff;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  z-index: 10;
}

.formulario-planes-byhours .boton-custom:hover .fondo-hover {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.carrusel-vertical-horas ul, .carrusel-vertical-horas li{
  list-style: none;
}

.carrusel-vertical-horas {
  width: 100%;
  position: relative;
}

.carrusel-vertical-horas .carrControl {
  position: absolute;
  right: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  overflow: auto;
  color: white;
  fill: white;
}

.carrusel-vertical-horas .upArr {
  top: 2px;
}

.carrusel-vertical-horas .doArr {
  bottom: -6px;
  transform: rotate(180deg);
}

.carrusel-vertical-horas ul {
  height: 70px;
  text-align: center;
  padding-left: 0;
  margin: 0;
}

.carrusel-vertical-horas ul li {
  padding: 4px 0;
  user-select: none;
  cursor: pointer;
  color: white;
}

.carrusel-vertical-horas ul li.selected {
  background-color: #ff5800;
  border-radius: 30px;
  font-weight: 600;
}

.selectRommsGuestsBox {
  position: absolute;
  background-color: #331c54;
  border: 3px solid white;
  border-radius: 12px;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.8);
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  z-index: 60;
}

.selectRommsGuestsBox .header-mobile {
  display: none;
  margin-bottom: 10px;
}

.selectRommsGuestsBox .header-mobile span {
  font-size: 18px;
  font-weight: 600;
  color: white;
}

.selectRommsGuestsBox .header-mobile .close-icon {
  text-decoration: none;
  fill: #ff5800;
  width: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.selectRommsGuestsBox .contenedor {
  height: -webkit-fill-available;
  padding-top: 10px;
  padding-bottom: 10px;
}

.selectRommsGuestsBox .contenedor .addRoomBtn {
  text-decoration: none;
  color: #ff5800;
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: none;
  margin-top: 10px;
  padding-left: 0;
  cursor: pointer;
}

.selectRommsGuestsBox .contenedor .deleteRoomBtn {
  text-decoration: none;
  color: #ff5800;
  font-size: 16px;
  background: none;
  border: none;
  text-align: start;
  padding-left: 0;
  cursor: pointer;
  display: contents;
}

.selectRommsGuestsBox .contenedor .roomContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.selectRommsGuestsBox .contenedor .roomContainer .roomLabel {
  text-transform: initial;
}

.selectRommsGuestsBox .contenedor .roomContainer:not(:first-child) {
  margin-top: 10px;
}

.selectRommsGuestsBox .contenedor .roomContainer .adultSelector {
  display: flex;
  flex-direction: row; justify-content: space-between;
  align-items: center;
}

.selectRommsGuestsBox .contenedor .roomContainer .adultSelector .numberPicker {
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selectRommsGuestsBox .contenedor .roomContainer .adultSelector .numberPicker button {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.selectRommsGuestsBox .numberPicker .minusOption, .selectRommsGuestsBox .numberPicker .addOption {
  text-align: center;
  background-color: #ff5800;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  
}

.selectRommsGuestsBox .numberPicker .selectedNumOption {
  color: white;
}

.selectRommsGuestsBox .contenedor .roomContainer .adultSelector .adultsText {
  color: white;
}

.formulario-planes-byhours.horizontal .boton-custom.btn-exitRoomGuests {
  width: 60px;
  height: fit-content;
  align-self: flex-end;
}

.selectQuantityBox {
  position: absolute;
  background-color: #331c54;
  border: 3px solid white;
  border-radius: 50px;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.8);
  width: 120px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.selectQuantityBox button {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background: none;
  border: none;
}

.selectQuantityBox .minusOption, .selectQuantityBox .addOption {
  text-align: center;
  background-color: #ff5800;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  
}

.selectQuantityBox .minusOption {
  margin-left: 3px;
}

.selectQuantityBox .addOption {
  margin-right: 3px;
}

.selectQuantityBox .selectedNumOption {
  color: white;
}

/*------------------ MEDIA QUERIES ------------------- */

@media only screen and (max-width: 768px){
  .calendario-popup {
    width: 80%;

  }

  .formulario-planes-byhours.horizontal .input-container .calendario-container, .formulario-planes-byhours.horizontal .input-container .number-selector-container {
    width: 100%;
  }

  .formulario-planes-byhours.horizontal .input-container .calendario-container input, .formulario-planes-byhours.horizontal .input-container .number-selector-container input{
    width: -webkit-fill-available;
  }

  .formulario-planes-byhours.horizontal .input-container .calendario-container .icon-for-input-calendar {
    right: 10px;
  }

  .formulario-planes-byhours.horizontal {
    flex-direction: column;
  }

  .formulario-planes-byhours.horizontal .input-container {
    width: 100%;
  }

  .selectQuantityBox {
    width: 150px;
    height: 50px;
  }

  .selectQuantityBox .minusOption, .selectQuantityBox .addOption {
    width: 40px;
    height: 40px;
  }

  .selectQuantityBox .selectedNumOption {
    font-size: 24px;
  }

  .selectQuantityBox button {
    font-size: 22px;
  }

  .select-items div, .select-selected {
    padding: 12px 16px;
  }

  .selectRommsGuestsBox {
    width: 90%;
    left: -10px;
    height: calc(100vh - 100px);
    padding: 25px;
  }

  .selectRommsGuestsBox .header-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .selectRommsGuestsBox .contenedor {
    overflow-y: auto;
    margin-bottom: 15px;
  }

  .selectRommsGuestsBox .contenedor .roomContainer .adultSelector .numberPicker {
    width: 120px;
    height: 35px;
  }

  .selectRommsGuestsBox .numberPicker .minusOption, .selectRommsGuestsBox .numberPicker .addOption {
    width: 30px;
    height: 30px;
  }

  .selectRommsGuestsBox .contenedor .roomContainer .adultSelector .numberPicker button {
    font-size: 24px;
  }

  .formulario-planes-byhours.horizontal .boton-custom.btn-exitRoomGuests {
    width: -webkit-fill-available;
  }
}

/*------------------ KEYFRAMES ------------------- */

@keyframes animacioncitaBoton {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}