html {
    font-size: 16px;
    font-family: Arial;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

/* Estilos personalizados para el contenedor del calendario */
.calendario-container {
  position: relative;
  width: fit-content;
  display: inline-block;
}

/* Estilos para el calendario emergente */
.calendario-popup {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  width: 270px;
  height: fit-content;
}

/* Estilos para los días del calendario */
.calendario-popup .contenido-calendario {
  width: 100%;
  border-collapse: collapse;
}

.calendario-popup .contenido-calendario .header-calendario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}

.calendario-popup .contenido-calendario .header-calendario .texto-header-calendario {
  color: #ff5800;
  font-size: 1rem;
  font-weight: 600;
}

.calendario-popup .contenido-calendario .body-calendario .weekdays, .calendario-popup .contenido-calendario .days-selector {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
}

.calendario-popup .contenido-calendario .days-selector {
  margin-top: 10px;
  row-gap: 7px;
}

.calendario-popup .contenido-calendario .days-selector span {
  text-align: center;
}

.calendario-popup .contenido-calendario .days-selector span a {
  text-decoration: none;
  font-weight: 600;
}

.calendario-popup .contenido-calendario .days-selector .days-in-month a {
  color: #000000;

}

.calendario-popup .contenido-calendario .days-selector .days-before-month a, .calendario-popup .contenido-calendario .days-selector .days-after-month a {
  color: #afafaf;

}

.calendario-popup .contenido-calendario .body-calendario .weekdays span {
    font-weight: bold;
    text-align: center;
}

/* Estilos para el botón de cerrar el calendario */
.calendario-popup-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: #333;
}

.days-num.selected-date {
  background-color: #212121;
  border-radius: 6px;
}

.days-num.selected-date a{
  background-color: #212121;
  color: white !important;
}

.calendario-popup .contenido-calendario .body-calendario .footer-body-calendario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.custom-select {
  position: relative;
  
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #696969;
  background-color: rgba(105, 105, 105, 0.8);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  font-size: 13px;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  border-radius: 10px;
  cursor: pointer;
}

.input-container label {
  font-weight: 600;
  text-transform: uppercase;
  color: #ff5800;
}

.input-container input{
  width: 111%;
  background-color: transparent;
  color: #646464;
  padding: 8px 16px;
  border: 0;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.calendario-container .icon-for-input-calendar {
  position: absolute;
  right: -45px;
  top: 5px;
  fill: rgb(98, 98, 98);
  pointer-events: none;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #696969;
  background-color: rgba(105, 105, 105, 0.9);
  backdrop-filter: blur(3px);;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 10px;

}

.custom-selectTime .select-items{
  height: 290px;
  overflow-y: auto;
}

/* Firefox */
.select-items {
  scrollbar-width: thin;
  scrollbar-color: #BFBFBF transparent;
}

/* Chrome, Edge and Safari */
.select-items::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.select-items::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

.select-items::-webkit-scrollbar-track:hover {
  background-color: #B8C0C2;
}

.select-items::-webkit-scrollbar-track:active {
  background-color: #B8C0C2;
}

.select-items::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #BFBFBF;
}

.select-items::-webkit-scrollbar-thumb:hover {
  background-color: #62A34B;
}

.select-items::-webkit-scrollbar-thumb:active {
  background-color: #62A34B;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.formulario-planes-byhours {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e5deea;
  width: 250px;
  padding: 30px;
  border-radius: 6px;
}

.formulario-planes-byhours .input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;

}

.input-container .selector-container select{
  width: 100%;
}

#selectTime + .select-selected, #rooms-select + .select-selected, #hotel-select + .select-selected, #adults-select + .select-selected, #plan-select + .select-selected  {
  background-color: transparent;
  color: #646464;
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 0;
}

#selectTime + .select-selected:after, #rooms-select + .select-selected:after, #hotel-select + .select-selected:after, #adults-select + .select-selected:after, #plan-select + .select-selected:after {
  border-color: #646464 transparent transparent transparent;
}

#selectTime + .select-selected.select-arrow-active:after, #rooms-select + .select-selected.select-arrow-active:after, #hotel-select + .select-selected.select-arrow-active:after, #adults-select + .select-selected.select-arrow-active:after, #plan-select + .select-selected.select-arrow-active:after {
  border-color: transparent transparent #646464 transparent;
  top: 7px;
}

.formulario-planes-byhours .boton-reservar {
  overflow: visible;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: #ff5800;
  border: none;
  
  vertical-align: middle;
  -webkit-transition: color .1s 30ms;
  -o-transition: color .1s 30ms;
  transition: color .1s 30ms;
  color: #fff;
  border-radius: 50px;
  position: relative;
  outline: 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  -o-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  padding: 10px 50px;
  cursor: pointer;
}

.formulario-planes-byhours .boton-reservar:hover {
  color: #000000;
}

.formulario-planes-byhours .boton-reservar .btn-cont-texto{
  position: relative;
  display: inline-block;
  z-index: 20;
}

.formulario-planes-byhours .boton-reservar:hover .btn-cont-texto {
  -webkit-animation: animacioncitaBoton .65s cubic-bezier(.215,.61,.355,1) 30ms forwards;
  animation: animacioncitaBoton .65s cubic-bezier(.215,.61,.355,1) 30ms forwards;
}

.formulario-planes-byhours .boton-reservar .btn-cont-fondo {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.formulario-planes-byhours .boton-reservar .btn-cont-fondo > span {
  
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform .3s cubic-bezier(.215,.61,.355,1);
  transition: -webkit-transform .3s cubic-bezier(.215,.61,.355,1);
  -o-transition: transform .3s cubic-bezier(.215,.61,.355,1);
  transition: transform .3s cubic-bezier(.215,.61,.355,1);
  transition: transform .3s cubic-bezier(.215,.61,.355,1),-webkit-transform .3s cubic-bezier(.215,.61,.355,1);
}

.formulario-planes-byhours .boton-reservar .btn-cont-fondo .fondo-idle {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  background-color: #000000;
}

.formulario-planes-byhours .boton-reservar:hover .fondo-idle {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.formulario-planes-byhours .boton-reservar .btn-cont-fondo .fondo-hover {
  background-color: #ffffff;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  z-index: 10;
}

.formulario-planes-byhours .boton-reservar:hover .fondo-hover {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

/*------------------ MEDIA QUERIES ------------------- */

@media only screen and (max-width: 768px){
  .calendario-popup {
    left: -18%;
    width: 140%;

  }
}

/*------------------ KEYFRAMES ------------------- */

@keyframes animacioncitaBoton {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}